[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"

[packages]
boto3 = "*"
celery = "*"
datalad = "*"
falcon = "*"
raven = "*"
redis = "*"
requests = "*"
GitPython = "*"
PyJWT = "*"
gunicorn = "*"
gevent = "*"

[requires]
python_version = "3.6"
